body {
    padding: 0;
    margin: 0;
}

header {
    text-align: center;
}

.square {
    margin: 0 auto;
    position: relative;
    display: block;
    /* max-width: 800px; */
    width: 50%;
    /* height: 50%; */

    background-color: azure;
    /* border: 1px solid black; */

    margin-bottom: 15px;
}

.square:after {
    content: '';
    display: block;
    padding-top: 100%;
}

.box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    background-color: cornsilk;
    border: 3px solid black;

}

.tag {
    background-color: blanchedalmond;
    
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;

    font-size: xx-large;

    user-select: none;

    cursor: pointer;

    transition: transform 1s;
}

.buttons {
    text-align: center;
}

.buttons button {
    font-size: larger;
}
